@model TestTask.Web.Models.Order

@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}



@using (Html.BeginForm("Add", "Order", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("Add", "order", new { id = 0 }) }))//data-resetUrl
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.OrderId)

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SenderCity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SenderCity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SenderCity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SenderAddress, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SenderAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SenderAddress)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RecipientCity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RecipientCity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecipientCity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CargoWeight, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CargoWeight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CargoWeight)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                        @if (Model.OrderId != 0)
                        {
                            <a class="btn btn-success" onclick="refreshAddNewTab('@Url.Action("Add","Order",new{id=0})',false)"><i class="fa fa-plus"></i> Add New</a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
}

